body{
  background-color:#1a1a2e;
}
h1:hover{

      transform: rotateY(360deg); 
      transition: 5s;
      cursor: default;
}
.page { 
       display: none;
       text-align: center;
       min-height: 100vh;
       
    }
     .active { 
       display: block;
     }
